.add {
  position: relative;
  padding-top: 2rem;
  height: auto;
  margin-bottom: 4rem;
  position: relative;
  z-index: -100;
  div {
    .buttonL {
      margin-top: 1rem;
      text-align: center;
    }
  }
}